# .gitignore

builds/
lib/
sandbox/

*.aps
*.bsc
*.clw
*.exp
*.plg
*.opt
*.ncb
*.dep
.vs
.vscode/
.pred/

test/TestXTree/bin

MFCXTest/Release
MFCXTest/Debug

doc/doxygen/html
doc/doxygen/MFCX-dox.err

*.log

# Remove when 'test' is sorted out.
/MFCXTest/EncryptText-plain.cpp
/MFCXTest/EncryptText-plain.cpp.encrypted
/MFCXTest/EncryptText-plain.txt
/MFCXTest/EncryptText-plain.txt.encrypted
*.ini

tags