# .gitignore

builds/
lib/

*.aps
*.bsc
*.clw
*.exp
*.plg
*.opt
*.ncb
*.dep
.vs


MFCXTest/Release
MFCXTest/Debug

doc/doxygen/html
*.log

# Remove when 'test' is sorted out.
/MFCXTest/EncryptText-plain.cpp
/MFCXTest/EncryptText-plain.cpp.encrypted
/MFCXTest/EncryptText-plain.txt
/MFCXTest/EncryptText-plain.txt.encrypted
*.ini

tags